<div class="content">
    <div class="row mb-3 header">
        <div class="col-7 text-start">
            <img src="/Group 36.png" style="width: 65px" alt="logo there" />
        </div>

        <div class="col-5 text-end d-flex justify-content-end align-items-center gap-2">
            <button class="btn btn-warning" (click)="openModal()">
                Add New
            </button>
            <button class="btn btn-danger" (click)="UserLogOut()">
                Log Out
            </button>
        </div>
    </div>

    <div class="row">
        @for (item of productList(); track $index) {
            <div class="col-4">
                <div class="card shadow-sm">
                    <img [src]="item.thumbnailImageUrl" alt="" />
                    <div class="card-body">
                        <p class="card-text">{{ item.productName }}.</p>
                        <div class="row">
                            <div class="col-6">
                                {{ item.category }}
                            </div>
                            <div class="col-6">
                                {{ item.price }}
                            </div>
                        </div>

                        <div
                            class="d-flex justify-content-between align-items-center"
                        >
                            <div class="btn-group">
                                <button
                                    type="button"
                                    (click)="onDelete(item.id)"
                                    class="btn btn-sm btn-outline-danger"
                                >
                                    Delete
                                </button>
                                <button
                                    type="button"
                                    (click)="onEdit(item.id)"
                                    class="btn btn-sm btn-outline-secondary"
                                >
                                    Edit
                                </button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="modal" #newModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="productForm">
                    <div class="modal-header">
                        <h4 class="modal-title">New Product</h4>
                        <button
                            type="button"
                            class="btn-close"
                            (click)="closeModal()"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-3">
                                <label for="">SKU</label>
                                <input
                                    type="text"
                                    formControlName="sku"
                                    class="form-control"
                                />
                            </div>

                            <div class="col-9">
                                <label for="">Long Name</label>
                                <input
                                    type="text"
                                    formControlName="productName"
                                    class="form-control"
                                />
                            </div>

                            <div class="col-6">
                                <label for="">Short Name</label>
                                <input
                                    type="text"
                                    formControlName="shortName"
                                    class="form-control"
                                />
                            </div>

                            <div class="col-6">
                                <label for="">Category</label>
                                <select
                                    formControlName="category"
                                    class="form-select"
                                >
                                    <option value="">--select--</option>
                                    <option>Mobile</option>
                                    <option>laptop</option>
                                    <option>headPhone</option>
                                </select>
                            </div>

                            <div class="col-6">
                                <label for="">Price</label>
                                <input
                                    type="number"
                                    formControlName="price"
                                    class="form-control"
                                />
                            </div>

                            <div class="col-6">
                                <label for="">Delivery span</label>
                                <select
                                    name=""
                                    formControlName="deliveryTimeSpan"
                                    class="form-select"
                                >
                                    <option value="">--select--</option>
                                    <option>2-3 days</option>
                                    <option>3-5 days</option>
                                    <option>up to 15 days</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="">Product image URL</label>
                                <input
                                    type="text"
                                    formControlName="thumbnailImageUrl"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-danger"
                            (click)="closeModal()"
                        >
                            Close
                        </button>
                        @if (
                            this.productForm.controls["productId"].value == 0
                        ) {
                            <button
                                type="button"
                                class="btn btn-success"
                                (click)="SaveProduct()"
                            >
                                Save
                            </button>
                        } @else {
                            <button
                                type="button"
                                class="btn btn-warning"
                                (click)="
                                    UpdateProduct(
                                        this.productForm.controls['productId']
                                            .value
                                    )
                                "
                            >
                                Update
                            </button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
